# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
*.ipr
*.iws
.idea/

# Android
android/app/build/
android/.gradle/
android/local.properties
android/key.properties
android/*.keystore
android/*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# Web
web/.dart_tool/

# Windows
windows/flutter/ephemeral/
windows/.dart_tool/

# Linux
linux/flutter/ephemeral/
linux/.dart_tool/

# macOS
macos/Flutter/ephemeral/
macos/.dart_tool/

# OS
.DS_Store
Thumbs.db

# Env
.env
*.env.local

# Code coverage
coverage/

# Pub
pubspec.lock
